---
import Layout from "@/layouts/Layout.astro"
import Chat from "@/components/Chat"
---

<Layout>
  <main
    class="min-h-[calc(100vh-4rem)] w-full bg-gray-50 dark:bg-[#09090B] py-12 px-4 sm:px-6 lg:px-8"
  >
    <Chat client:only />
  </main>
</Layout>
